@media only screen and (min-width:300px) {
/* For mobile: */

}
@media only screen and (min-width: 768px) {
/* For desktop: */

}
body{
    transition:500ms;
    margin:0px;
    user-select:none;
    touch-action:manipulation;
    overflow-X:hidden;
    color:auto;
    font-family:sans-serif;
}
#load{
    transition:1000ms;
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-image:url('../img/sign.svg');
    background-repeat:no-repeat;
    background-size:50%;
    background-position:center center;
    background-color:black;
    opacity:100%;
    z-index:99;
}
#nav{
    transition:500ms;
    height:10vh;
    width:100vw;
    /* position:fixed;
    background-color: #00000080;
    background-image:url('../img/icon.png');
    background-repeat:no-repeat;
    background-size:10%;
    background-position: 20% 50%;
    backdrop-filter: blur(5px); */
}
#tog{
    transition:500ms;
    height:10vh;
    width:10vh;
    position: absolute;
    display:flex;
    transform-origin:50% 50%;
    transform:rotate(90deg) scale(0.75) rotateX(180deg);
}
.l{
    transition:500ms;
    width:10%;
    height:80%;
    background-color:yellow;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-radius:100px;
}
#fl{
    transform-origin: 100% 100%;
}
#sl{
    transform-origin:0% 100%;
}
#listbg{
	transition:1s;
	/* position:fixed; */
	top:10vh;
	left:0vw;
	width:100vw;
	height:0vh;
	/* backdrop-filter: blur(5px); */
	/* background-color: #00000080; */
	color:transparent;
	overflow:hidden;
}
#listsbg{
    transition:500ms;
}
/*#listsbg:hover{
    transition:500ms;
    padding-left:50px;
    padding-top:20px;
}*/
.divs:hover{
    transition:500ms !important;
    background-color:transparent !important;
    width: 1000px !important;
    font-size: 60px !important;
    margin-top: 30px !important;
    margin-left:-30px !important;
    margin-bottom: 30px !important;
    border-radius:25px;
    box-shadow:0px 0px 0px 15px #00000080;
}
.divs{
    transition:500ms;
    transform-origin:0% 50%;
    width: 0px;
    height: 0px;
    font-size:50px;
    overflow:hidden;
    white-space: nowrap;
    background-color:transparent;
    color:yellow;
    border-radius:20px;
    margin:0px 0px;
    background-color:#00000080;
    box-shadow:0px 0px 0px 0px #00000080;
}
#ibody{
    transition:500ms;
    width:100vw;
    overflow-X:hidden;
    opacity:0%;
}
a{
    text-decoration: none;
}
hr{
    transition:500ms;
    height: 0.1px;
    border: none;
    background: #80808080;
    margin: auto 5%;
}


/* HOME */
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    background: gray;
  }
  .typing-demo {
    width: 330px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate, hide-blink 0s ease-in 5s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid lightgreen;
    color: lightgreen;
    font-family: monospace;
    font-size: 2em;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  @keyframes hide-blink {
    to {
        border:none;
    }
  }

