<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MDC List Example</title>
  
  <!-- Material Components Web CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css">
  
  <!-- Material Icons (Optional for icons) -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <style>
    .mdc-deprecated-list {
      max-width: 360px;
      background-color: #fff;
    }
  </style>
</head>
<body style="margin: 0px;">
  
  <ul class="mdc-deprecated-list mdc-deprecated-list--two-line">
    <li class="mdc-deprecated-list-item">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">folder</span>
      <span class="mdc-deprecated-list-item__text">
        <span class="mdc-deprecated-list-item__primary-text">Third item</span>
        <span class="mdc-deprecated-list-item__secondary-text">Secondary text</span>
      </span>
      <li class="mdc-list-divider" role="separator"></li>
    </li>
    <li class="mdc-deprecated-list-item">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">folder</span>
      <span class="mdc-deprecated-list-item__text">
        <span class="mdc-deprecated-list-item__primary-text">Third item</span>
        <span class="mdc-deprecated-list-item__secondary-text">Secondary text</span>
      </span>
      <li class="mdc-list-divider" role="separator"></li>
    </li>
    <li class="mdc-deprecated-list-item">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__graphic material-icons" aria-hidden="true">folder</span>
      <span class="mdc-deprecated-list-item__text">
        <span class="mdc-deprecated-list-item__primary-text">Third item</span>
        <span class="mdc-deprecated-list-item__secondary-text">Secondary text</span>
      </span>
      <li class="mdc-list-divider" role="separator"></li>
    </li>
  </ul>

<ul class="mdc-list demo-list mdc-list--two-line mdc-list--avatar-list">
    <div class="mdc-list-item mdc-ripple-upgraded mdc-ripple" tabindex="0" data="off" id="a1">
      <span class="mdc-deprecated-list-item__ripple mdc-ripple"></span>
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Dog Photos</span>
        <span class="mdc-list-item__secondary-text">9 Jan 2018</span>
      </span>
      <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
    </div>
    <li class="mdc-list-divider" role="separator"></li>

    <div class="mdc-list-item mdc-ripple-upgraded mdc-ripple" tabindex="0" data="off" id="a2">
      <span class="mdc-deprecated-list-item__ripple mdc-ripple"></span>
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Dog Photos</span>
        <span class="mdc-list-item__secondary-text">9 Jan 2018</span>
      </span>
      <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
    </div>
    <li class="mdc-list-divider" role="separator"></li>

    <div class="mdc-list-item mdc-ripple-upgraded mdc-ripple" tabindex="0" id="a3">
      <span class="mdc-deprecated-list-item__ripple mdc-ripple"></span>
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Dog Photos</span>
        <span class="mdc-list-item__secondary-text">9 Jan 2018</span>
      </span>
      <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
    </div>
    <li class="mdc-list-divider" role="separator"></li>
</ul>

  
  <!-- Material Components Web JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
  
  <script>
    // Initialize MDC List
    const list = new mdc.list.MDCList(document.querySelector('.mdc-deprecated-list'));
    list.singleSelection = true;

    var listItems = document.querySelectorAll('.mdc-deprecated-list-item');
    listItems.forEach(item => {
      mdc.ripple.MDCRipple.attachTo(item);
    });

  </script>
</body>
</html>
