<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="importmap">
            {
              "imports": {
                "@material/web/": "https://esm.run/@material/web/"
              }
            }
        </script>
        <script type="module">
            import '@material/web/all.js';
            import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
            
            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>
    </head>
    <body>
        <h1 class="md-typescale-display-medium">Hello Material!</h1>
        <form>
            <p class="md-typescale-body-medium">Check out these controls in a form!</p>
            <md-checkbox></md-checkbox>
            <div>
                <md-radio name="group"></md-radio>
                <md-radio name="group"></md-radio>
                <md-radio name="group"></md-radio>
            </div>
            <md-outlined-text-field label="Favorite color" value="Purple"></md-outlined-text-field>
            <md-outlined-button type="reset">Reset</md-outlined-button>
        </form>
        <br/>
        <br/>
        <label>
            Material 3
            <md-checkbox checked></md-checkbox>
        </label>
        <br>
        <br>
        <md-outlined-button>Back</md-outlined-button>
        <md-filled-button>Next</md-filled-button>
        <br>
        <br>
        <md-fab label="Edit">
            <md-icon slot="icon" class="material-icons">edit</md-icon>
        </md-fab>
        <br>
        <br>
        <md-filled-text-field label="Label" value="">
        </md-filled-text-field>
        <br>
        <br>
        <md-outlined-text-field label="Label" value="">
        </md-outlined-text-field>
        <br>
        <br>
        <style>
            .container {
              position: relative;
            }
          </style>
          <div class="container" style="
            width: 300px;
            height: 300px;
            box-shadow: 0px 0px 0.5px 0.5px #80808040;
            border-radius: 15px;
          ">
            <md-ripple id="ripple"></md-ripple>
            <h1>&nbsp;</h1>
            <h1 class="md-typescale-display-medium">Ripple</h1>
            <h1>&nbsp;</h1>
          </div>
          <script>
            const ripple = document.querySelector('#ripple');
            const control = document.querySelector('#ripple-control');
            ripple.attach(control);
          </script>
        <br>
        <br>
        <style>
            form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            }
        </style>
    </body>
</html>
