@media only screen and (min-width:300px) {
  /* For mobile: */

}
@media only screen and (min-width: 768px) {
  /* For desktop: */

}
body{
    transition:500ms;
    margin:0px;
    user-select:none;
    touch-action:manipulation;
    overflow-X:hidden;
    font-family:sans-serif;
}
#menu-scrim{
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: #00000026;
    opacity: 0%;
    transform: translateX(100vw) translateY(-100vh);
    transition: 10ms;
}
#menu-list{
    transform-origin: center bottom !important;
    position: fixed !important;
    right: 15px !important;
    top: 35px !important;
    max-height: 470.438px !important;
    display: block !important;
    opacity: 100% !important;
    transition: 300ms !important;
    width: 0px;
    height: 0px;
}
.hy-drawer-scrim{
    /* shadow */
    display:block;
    transition:200ms;
    position:fixed;
    top:0;right:0;bottom:0;left:0;
    opacity:0;
    z-index:5;
    pointer-events:none;
    background:rgba(0,0,0,0.75);
    transform:translateX(0);
    -webkit-tap-highlight-color:transparent
}
.hy-drawer-content{
    /* aside */
    position:fixed;
    left:-300px;
    bottom:0;
    top:0;
    z-index:6;
    overflow-x:hidden;
    overflow-y:auto;
    contain:strict;
    width:250px;
    background:white;
    box-shadow:0 0 15px rgba(0,0,0,.25);
    transform:translateX(0);
    -webkit-overflow-scrolling:touch
}
#load{
    transition:500ms;
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:white;
    /*background-image: url('https://rishad.dev/apps/ec/res/img/favicon.png');*/
    background-repeat: no-repeat;
    background-size:40%;
    background-position: center center;
    z-index:100;
}
#loadprog{
    transition:500ms;
    position:absolute;
    bottom:30vh;
    width:50vw;
    margin-left:25vw;
    margin-right:auto;
}
#menuEl{
    outline:none !important;
}
li,li:hover,li:active{
    transition:500ms !important;
}
hr{
    background:gray;
    color:gray;
    border:0px;
    height:0.5px;
    opacity:50%;
}

/*---- orders page section -------*/

.mdc-data-table__header-cell{
    background-color: #333;
    color: white;
}
#data_add_window{
    transition: 500ms;
    position: fixed;
    z-index: 5;
    width: 56px;
    height: 56px;
    bottom: 16px;
    right: 16px;
    /*margin-left: -71px;*/
    /*margin-top: -71px;*/
    border-radius: 100px;
    overflow: hidden;
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
#add-data-btn{
    transition: 500ms;
    box-shadow: none;
    flex: none;
}
#note{
    width: 251px;
}
.list-key{
    transition: 500ms;
}
.mdc-button {
    /*font-size: 18px; */
    padding: 12px 24px; /* Increase padding */
}
@media only screen and (min-width:300px) {
    /* For mobile: */
    .add-data-container-left{
        display: none;
    }
    .add-data-container-right{
        align-items:unset;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .add-data-container-left{
        display: block;
    }
    .add-data-container-right{
        align-items:center;
    }
}
.list-details{
    transition: 300ms;
    height: 0px;
}
/*---- end orders page section -------*/